*{
    margin: 0;
    padding: 0;
    
}
.cata{
    color: rgb(22, 139, 207);
    margin-top: 10px;
    margin-left: 25px;
    font-family: 'Courier New', Courier, monospace;
    
    padding-bottom: 5px;
    font-size: 30px;
}
.topimage{
    height: 200px;
    width: 1323px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-image: url(../images/top.jpg);
    background-size: cover;
    background-position: center;
    
}
.photo, .video, .about, .contact{
    margin-left: 25px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(12, 13, 14);
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 50px;
    padding-top: 10px;
}   
.photo{
    border-bottom: 3px solid rgb(99, 102, 240);
}
.photo:hover{
    border-bottom: 3px solid rgb(99, 102, 240);
    color: rgb(26, 187, 228);
}
.video:hover{
    border-bottom: 3px solid rgb(212, 57, 70);
    color: rgb(250, 98, 98);
}
.about:hover{
    border-bottom: 3px solid rgb(67, 204, 90);
    color: rgb(97, 211, 125);
}
.contact:hover{
    border-bottom: 3px solid rgb(247, 18, 235);
    color: rgb(236, 137, 228);
}
.search{
    height: 50px;
    width: 350px;
    margin: 100px;
    margin-left: 430px;
    border-radius: 5px;
    border: 2px solid rgb(200, 200, 200);
    padding-left: 10px;
    size: 100px;
    font-size: 20px;
    border: 2px solid rgb(150, 150, 150);
    
}
.search::placeholder{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(30, 180, 218);
}
.latest{
    margin-top: 20px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(4, 141, 107, 0.959);
    margin-left: 25px;
    font-size: 30px;
    display: inline-block;
    padding-bottom: 25px;
}
#page1{
    margin-top: 20px;
    float: right;
    color: rgb(24, 134, 57);
    font-size: 18px;
    margin-right: 20px;
}
.list{
    float: right;
}
.photos{
    height: 200px;
    width: 310px;
    margin: 10px;
    border-radius: 5px;
}
.abt{
    height: 20px;
    width: 310px;
    margin: 3px;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    margin-left: 15px;
    

}
.abt2{
    height: 20px;
    width: 310px;
    margin: 3px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(22, 21, 21);
    margin-left: 15px;
    
}
.il{
    display: inline-block;
}
.pages{
    margin: 150px;
    margin-left: 10px;
}
.pre{
    background-color: rgba(42, 245, 194, 0.904);
    color: white;
    height: 60px;
    width: 140px;
    border-radius: 5px;
    border: none;
    margin-right: 370px;
}
.numb{
    background-color: rgba(8, 175, 133, 0.986);
    color: white;
    height: 60px;
    width: 60px;
    border: none;
}
.grey{
    background-color: rgb(200, 200, 200);
    color: white;
    height: 60px;
    width: 60px;
    margin-left: 8px;
    border: none;
}
.grey:hover{
    background-color: rgb(8, 175, 133 , 0.986);
    cursor: pointer;
}
.pre:hover{
    
    cursor: not-allowed;
}
.nxt{
    background-color: rgba(8, 175, 133, 0.986);
    color: white;
    height: 60px;
    width: 140px;
    border-radius: 5px;
    border: none;
    margin-left: 257px;
    
    cursor: pointer;
}
.nxt:hover{
    background-color: rgba(5, 99, 68, 0.904);
}
.footer{
    height: 330px;
    width: 1323px;
    background-color: rgba(224, 224, 224, 0.849);
    margin-top: 50px;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.stcol{
    height: 280px;
    width: 440px;
    margin-left: 150px;
    padding-top: 50px;
    display: inline-block;
    

}
.ct{
    color: rgba(4, 141, 107, 0.959);
    font-size: 25px;
    display: inline-block;
    margin-top: 20px;
}
.wrt{
    color: gray;
    margin-top: 15px;
    margin-right: 0px;
    font-style: italic, serif, monospace;
    margin-bottom: 30px;

}
.wrs{
    color: gray;
    margin-top: 50px;

}
.links{
    display: inline-block;
    margin-right: 15px;

    height: 330px;
    width: 150px;
    
    margin-left: 40px;
    vertical-align: top;

}
.ct2{
    margin-top: 70px;
    color: rgba(4, 141, 107, 0.959);
    font-size: 25px;
    display: inline-block;
    margin-bottom: 20px;
}
.lin{
    color: gray;
    margin-top: 5px;
    display: inline-block;
}
.lin:hover{
    color: rgba(4, 141, 107, 0.959);
    cursor: pointer;
}
.icons{
    height: 250px;
    width: auto;
    
    display: inline-block;
    vertical-align: top;
    margin-left: 170px;
    padding-top: 70px;
}
.fa-facebook{
    height: 40px;
    width: 40x;
    background-color: white;
    font-size: 30px;
    margin-left: 20px;
    justify-content: center;
    border-radius: 5px;
}
.fa-twitter{
    height: 40px;
    width: 40px;
    background-color: white;
    
    font-size: 30px;
    margin-left: 20px;
    justify-content: center;
    border-radius: 5px;

}
.fa-instagram{
    height: 40px;
    width: 40px;
    background-color: white;
    
    font-size: 30px;
    margin-left: 20px;
    justify-content: center;
    border-radius: 5px;
}
.fa-pinterest{
    height: 40px;
    width: 40px;
    background-color: white;
    font-size: 30px;
    margin-left: 20px;
    justify-content: center;
    border-radius: 5px;

}
.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-pinterest:hover{
    background-color: rgb(4, 141, 107);
    color: white;
    cursor: pointer;
}
.end{
    color: gray;
    margin-top: 20px;
    display: block;
    font-size: 15px;
    padding-left:160px ;
}
.endd{
    color: gray;
    margin-top: 70px;
    display: block;
    font-size: 15px;
    padding-left:160px 
}
.end:hover{
    color:rgb(4, 141, 107);


}